
{{#each allPosts}}
    <div class="postbox2">
    <h3 class="login">{{title}}<i>Posted by {{user.name}} on {{date_created}}</i></h3>
    <p class="description">{{description}}</p>
    </div>
{{/each}}