<div class="loginbox">
<h3 class="login">Login</h3>
<form class="form" action="" id="login-form">
    <label class="email2" for="email">Email</label>
    <input class="email" type="text" placeholder="Enter your Email Address" id="login-email">
    <label class="password2" for="password">Password</label>
    <input class="password" type="password" placeholder="Enter your Password" id="login-password">
    <button class="loginbutton">Login</button>
    <p>Or</p>
    <a class="signupbutton" href="/signup">Sign up</a> 
</form>
</form>
</div>

<script src="/js/auth.js"></script>

