<div class="loginbox">
<h3 class="login">Signup </h3>
<form class="form" action="" id="signup-form">
    <label class="email2" for="email">Email</label>
    <input class="email" type="text" placeholder="Enter your Email Address" id="signup-email">
    <label class="username2" for="username">Username</label>
    <input class="username" type="text" placeholder="username" id="signup-username">
    <label class="password2" for="password">Password</label>
    <input class="password" type="password" placeholder="Enter your Password" id="signup-password">
    <button class="signupbutton">Sign up</button> 
    <p>Or</p>
    <a class="loginbutton" href="/login">Login</a>
</form>
</div>

<script src="/js/signup.js"></script>